.App {
  text-align: center;
  padding: 1rem;
}

#navbar{
  background-color: #0b834b;
  text-align: start;
  color: white;
  padding: 1rem;
}

.home{
  text-align:end;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background: linear-gradient(to right, rgb(19, 105, 72), #ffffff);
  background-size:cover;
  background-repeat: no-repeat;
}

button{
  background-color: #000000;
  border-style: double;
  color: white;
  size: 2rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.matericlass{
  padding: 5%;
  background: linear-gradient(to right, rgba(19, 105, 72, 0.473), #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  border-style:hidden;
}

h2{
  text-align: center;
}

#listmateri{
  margin-top: 1%;
  border-style: groove;
  background-color: rgb(19, 105, 72);
  border-radius: 20px;
}

#footer{
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}